  <div class="mx-32">
    <div data-rob="grid grid-cols-2 gap-4 mt-4"
      data-rob-320="grid grid-cols-3 gap-4 mt-4"
      data-rob-640="grid grid-cols-4 gap-4 mt-4">
      <one-button type="secondary" size="large" full="true">CLICK ME!</one-button>
      <one-button type="primary" size="large" full="true" loading="true">CLICK ME!</one-button>
      <one-button type="secondary" size="large" full="true" disabled="disabled">CLICK ME!</one-button>
    </div>
  </div>

<router-outlet></router-outlet>
