.colibri-button {
  background: transparent;
  border: none;
  outline: none;
  color: var(--colibri-button-color);
  box-sizing: border-box;
  padding: var(--colibri-button-padding-y) var(--colibri-button-padding-x);
  border-radius: 0.5rem;
  border-width: 2px;
  border-style: solid;
  border-color: transparent;
  text-transform: uppercase;
  font-family: var(--colibri-button-font-family);
  font-weight: var(--colibri-button-font-weight);
  font-size: var(--colibri-button-font-size);
  position: relative;

  /**
    *   STATES
    */
  &:hover {
    cursor: pointer;
  }

  &[disabled] {
    opacity: 0.5;
    pointer-events: none;
  }

  &--loading {
    opacity: 0.5;
    pointer-events: none;
    color: transparent !important;

    &::after {
        content: "";
        display: block;
        width: 80%;
        height: 80%;
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 100 100'%3E%3Cstyle%3E .path %7B stroke-dasharray: 249; stroke-dashoffset: 0; transform-origin: center; animation: dash 1.4s infinite both; animation-timing-function: ease-in-out; %7D .group %7B animation: group 7s infinite both; animation-timing-function: linear; transform-origin: center; %7D .logo %7B transform: translateY(-1px); %7D @keyframes dash %7B 0%25 %7B stroke-dashoffset: 249; %7D 50%25 %7B stroke-dashoffset: 35; transform:rotate(0); %7D 100%25 %7B stroke-dashoffset: 249; transform:rotate(360deg); %7D %7D @keyframes group %7B 0%25 %7B transform: rotateZ(0deg); %7D 50%25 %7B transform: rotateZ(360deg); %7D 100%25 %7B transform: rotateZ(720deg) %7D %7D %3C/style%3E%3Cg class='group'%3E%3Ccircle class='path' fill='none' stroke-width='10' stroke='%23002554' stroke-linecap='round' cx='50' cy='50' r='40'%3E%3C/circle%3E%3C/g%3E%3Cpath class='logo' fill='%23002554' d='M65.2 47.5l-3 16.8c-.9 5-4 8.3-10.4 8.3h-8.6c-7.2 0-9.3-3.3-8.4-8.3l.3-1.8 5.6-30.9 12.1-4.2-2.1 11.7h7.1c6.4.1 8.3 3.3 7.4 8.4zm-13 .1H51c-1.2 0-1.9.6-2.2 2l-2.3 12.6c-.3 1.4.2 2 1.4 2H49c1.1 0 1.8-.5 1.9-1.5L53.6 49c.1-1-.3-1.5-1.4-1.4z'/%3E%3C/svg%3E");
        background-repeat: no-repeat;
        background-position: center center;
        position: absolute;
        top: 10%;
        left: 10%;
    }

    &.colibri-button--secondary {
        &::after {
            background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 100 100'%3E%3Cstyle%3E .path %7B stroke-dasharray: 249; stroke-dashoffset: 0; transform-origin: center; animation: dash 1.4s infinite both; animation-timing-function: ease-in-out; %7D .group %7B animation: group 7s infinite both; animation-timing-function: linear; transform-origin: center; %7D .logo %7B transform: translateY(-1px); %7D @keyframes dash %7B 0%25 %7B stroke-dashoffset: 249; %7D 50%25 %7B stroke-dashoffset: 35; transform:rotate(0); %7D 100%25 %7B stroke-dashoffset: 249; transform:rotate(360deg); %7D %7D @keyframes group %7B 0%25 %7B transform: rotateZ(0deg); %7D 50%25 %7B transform: rotateZ(360deg); %7D 100%25 %7B transform: rotateZ(720deg) %7D %7D %3C/style%3E%3Cg class='group'%3E%3Ccircle class='path' fill='none' stroke-width='10' stroke='%23FFFFFF' stroke-linecap='round' cx='50' cy='50' r='40'%3E%3C/circle%3E%3C/g%3E%3Cpath class='logo' fill='%23FFFFFF' d='M65.2 47.5l-3 16.8c-.9 5-4 8.3-10.4 8.3h-8.6c-7.2 0-9.3-3.3-8.4-8.3l.3-1.8 5.6-30.9 12.1-4.2-2.1 11.7h7.1c6.4.1 8.3 3.3 7.4 8.4zm-13 .1H51c-1.2 0-1.9.6-2.2 2l-2.3 12.6c-.3 1.4.2 2 1.4 2H49c1.1 0 1.8-.5 1.9-1.5L53.6 49c.1-1-.3-1.5-1.4-1.4z'/%3E%3C/svg%3E");
        }
    }
  }

  /**
    *   COLORS
    */
  &--primary {
    border-color: var(--colibri-color-primary-500);
    color: var(--colibri-color-primary-500);

    /**
     *  STATES
     */
    &:hover {
      border-color: inherit;
    }
  }

  &--secondary {
    background-color: var(--colibri-color-secondary-500);
    border-color: var(--colibri-color-secondary-500);

    /**
     *  STATES
     */
     &:hover {
      background-color: var(--colibri-color-secondary-700);
      border-color: var(--colibri-color-secondary-700);
    }
  }

  /**
    *   SIZES
    */
  &--small {
    padding: var(--colibri-button-small-padding-y) var(--colibri-button-small-padding-x);
    font-size: var(--colibri-button-font-size-small);
  }

  &--large {
    padding: var(--colibri-button-large-padding-y) var(--colibri-button-large-padding-x);
    font-size: var(--colibri-button-font-size-large);
  }

  &--full {
    width: 100%;
  }
}
